<%= form_with(model: bookmark, local: false) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
        <% bookmark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :category_ids, "Categories:" %>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
      <div class="form-check">
        <%= cb.label class: 'form-check-label' do %>
          <%= cb.check_box class: 'form-check-input' %>
          <%= cb.text %>
        <% end %>
      </div>
    <% end %>
    <div>
      <%= link_to 'Crear una categoria', new_category_path  %>
    </div>
  
    <div class="form-check"></div>
  </div>
  <div class="field">
    <%= form.label :kind_ids, "Kinds:" %>
    <%= form.collection_check_boxes :kind_ids, Kind.all, :id, :name do |cb| %>
      <div class="form-check">
        <%= cb.label class: 'form-check-label' do %>
          <%= cb.check_box class: 'form-check-input' %>
          <%= cb.text %>
        <% end %>
      </div>
      
    <% end %>
  </div>
  <div>
    <%= link_to 'Crear nuevo tipo', new_kind_path  %>
  </div>
  
  <div class="actions">

  <div class="actions">
    <%= form.submit disable_with: 'Submiting', data: { confirm: 'Estas seguro ?' }%>
  </div>
<% end %>
